<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoGarmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AutoGarmin.Properties.Settings>
            <setting name="SoundConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundReady" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundDisconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoTracksDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoTracksClean" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoMapClean" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoMapLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapName" serializeAs="String">
                <value />
            </setting>
            <setting name="MapOldPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SoundError" serializeAs="String">
                <value>True</value>
            </setting>
        </AutoGarmin.Properties.Settings>
    </userSettings>
</configuration>